<template id="characteristic-diagram">
	<div :class="classes">
		<div class="card border-dark mb-3">
			<div class="card-header container-fluid">
				<div class="row">
					<div class="col-1">{{diagramId}}</div>
					<div class="col-2">
						<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Аналітика</button>
					</div>
					<div class="col-1">
						<button type="button" class="btn btn-primary" @click="saveGraph">Зберегти</button>
					</div>
					<div class="col"></div>
					<div class="col-1">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" :id="'modal-check-id' + diagramId" v-model="isModalWindow">
							<label class="custom-control-label" :for="'modal-check-id' + diagramId">Модальне вікно</label>
						</div>
					</div>
					<div class="col-2">
						<button type="button" class="btn btn-primary" @click="goTest" v-if="IsOverviewActive">Тестування</button>
						<button type="button" class="btn btn-primary" @click="goOverview" v-else>Огляд</button>
					</div>
				</div>
				<div class="collapse multi-collapse" id="multiCollapseExample2">
					<div class="row">
						<div class="col">
							<div class="widget-small primary coloured-icon">
								<i class="icon fa fa-users fa-3x"></i>
								<div class="info">
									<h4>Кількість справочних характеристик</h4>
									<p><b>123</b></p>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="widget-small primary coloured-icon">
								<i class="icon fa fa-users fa-3x"></i>
								<div class="info">
									<h4>Кількість простих характеристик</h4>
									<p><b>1233</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container-fluid">
					<div class="row">
						<div :id="diagramId" class="col-9"></div>
						<div class="col-3">
							<div :id="(diagramId + '_overview')" class="card-body" v-show="IsOverviewActive"></div>
							<div v-show="!IsOverviewActive">
								<test-controll :graph="graph" @active="testActiveNode" />
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<add-depend-modal-window :bus="bus"
													 :id="diagramId + '_change'"
													 :default_dependency="firstSelectNodeDependency"
													 :show="showDependModal && !addMode"
													 @commit-point="commitPointAndDependency"
													 :characteristics="characteristics"
													 :roles="roles"
													 @close="showDependModal = false"
													 :default-point="firstSelectNode"
													 :togglesValues="firstSelectNodeValues"
													 :is-modal-window="isModalWindow" />
						</div>
						<div class="col">
							<add-depend-modal-window :bus="bus"
													 :id="diagramId + '_add'"
													 :default_dependency="dependSelectedNodes"
													 :show="showDependModal && addMode"
													 @commit-point="commitPointAndDependency"
													 :characteristics="characteristics"
													 :roles="roles"
													 @close="showDependModal = false"
													 :is-modal-window="isModalWindow"
													 :points="graph.Nodes" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>