<template id="graph-test">
	<div class="container-fluid">
		<div class="row" v-for="(point, index) in activePoints" :key="point.name">
			<div class="col">
				<label for="exampleFormControlSelect1">{{point.Label}}</label>
				<div class="input-group mb-3">
					<select id="inputGroupSelectGraph1_add" class="custom-select" v-model="selectedValues[point.name]">
						<option v-for="value in point.Values" :value="value" :key="value.Id">{{value.Name}}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</template>