<template id="add-depend-point">
	<div :class="mainClassObject" :id="('add-depend-point_' + id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-width" role="document" :style="{ maxWidth: modalMaxWidth }">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Добавить зависимость на характеристику</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-5">
								<div id="accordion">
									<div class="card text-white bg-dark mb-3">
										<div class="card-header">
											Исходные характеристики
										</div>
									</div>
									<div class="card" v-for="(dep, index) in dependency">
										<div class="card-header" id="headingOne">
											<h5 class="mb-0">
												<button class="btn btn-link" data-toggle="collapse" :data-target="'#collapseOne_' + index + id" aria-expanded="true" aria-controls="collapseOne">
													{{dep.Start.Label}}
												</button>
											</h5>
										</div>
										<div :id="'collapseOne_' + index + id" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
											<div class="card-body">
												<div class="input-group mb-3">
													<div class="input-group-prepend">
														<span class="input-group-text" id="inputGroup-sizing-default">Название</span>
													</div>
													<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" v-model="dep.Label">
												</div>
												<rule-controll :point="dep.Start"
															   :index="index + id"
															   :roles="roles"
															   :toggles-values.sync="dep.Rules.Values"
															   :toggles-roles.sync="dep.Rules.Roles" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-7" v-if="!addExistCharacteristic">
								<div class="container">
									<div class="row">
										<div class="col">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<span class="input-group-text" id="inputGroup-sizing-default">Характеристика</span>
												</div>
												<input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" v-model="point.Label">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="input-group mb-3">
												<select class="custom-select" :id="'inputGroupSelect' + id" v-model="point.Characteristic">
													<option v-for="char in characteristics" :key="char.Id" :value="char">{{char.Name}}</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row" v-if="point.Characteristic != null">
										<div class="col" v-if="point.Values != null && point.Values.length > 0">
											<div class="input-group mb-3">
												<div class="input-group-prepend">
													<label class="input-group-text" for="selectDefault">Default</label>
												</div>
												<select class="form-control" id="selectDefault" v-model="point.DefaultValue">
													<option v-for="value in point.Values" :value="value">{{value.Name}}</option>
												</select>
											</div>
										</div>
										<div class="col">
											<div class="form-check">
												<input type="checkbox" class="form-check-input" id="modal-point-required" v-model="point.Required">
												<label class="form-check-label" for="modal-point-required">Обязательно</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col" v-if="point.Characteristic != null">
											<rule-controll :point="point.Characteristic"
														   :index="'main' + id"
														   :roles="roles"
														   :role-with-detail="true"
														   :toggles-values.sync="point.Values"
														   :toggles-roles.sync="point.Roles" 
														   />
										</div>
									</div>
								</div>
							</div>
							<div class="col-7" v-else>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="'inputGroupSelect' + id">Характеристика</span>
									</div>
									<select class="custom-select" :id="'inputGroupSelect' + id" v-model="existPoint">
										<option v-for="point in points" :key="point.name" :value="point">{{point.Label}}</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-if="!addExistCharacteristic" @click="() => addExistCharacteristic = true">Существующая</button>
					<button type="button" class="btn btn-primary" v-else @click="() => addExistCharacteristic = false">Новая</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button v-if="!defaultPoint" type="button" class="btn btn-primary" @click="addPoint">Добавить</button>
					<button v-else type="button" class="btn btn-primary" @click="changePoint">Изменить</button>
				</div>
			</div>
		</div>
	</div>
</template>