<template id="rule-controll">
	<div>
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" :id="'nav-value-tab' + uniq" data-toggle="tab" :href="'#nav-value' + uniq" role="tab" aria-controls="nav-home" aria-selected="true">Значения</a>
				<a class="nav-item nav-link" :id="'nav-role-tab' + uniq" data-toggle="tab" :href="'#nav-role' + uniq" role="tab" aria-controls="nav-profile" aria-selected="false">Роли</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" :id="'nav-value' + uniq" role="tabpanel" :aria-labelledby="'nav-value-tab' + uniq">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="form-check" v-for="(char, index) in values">
								<input type="checkbox" class="form-check-input" :value="char" v-model="sync_togglesValues" :id="'rule_value_checkbox_' + uniq + index"/>
								<label class="form-check-label" :for="'rule_value_checkbox_' + uniq + index">{{char.Name}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" :id="'nav-role' + uniq" role="tabpanel" :aria-labelledby="'nav-role-tab' + uniq">
				<div class="container">
					<div class="row">
						<div class="col input-group">
							<select class="custom-select" :id="'inputGroup' + uniq" v-model="selectedRole">
								<option v-for="(role, index) in existsRoles" :value="role">{{role.Name}}</option>
							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button" @click="onRoleSelectClick">Вибрать</button>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="form-check">
								<div class="container">
									<div class="row">
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Роль</th>
													<th scope="col" v-if="roleWithDetail">Default</th>
													<th scope="col" v-if="roleWithDetail">Обязательно</th>
												</tr>
											</thead>
											<tbody>
												<tr v-for="(roleInfo, index) in sync_togglesRoles">
													<td><div class="d-flex justify-content-center">{{roleInfo.role.Name}}</div></td>
													<td v-if="roleWithDetail">
														<div class="input-group mb-3 d-flex justify-content-center" :disabled="c_togglesValues != null && c_togglesValues.length > 0 && roleInfo.IsChecked">
															<select class="form-control" :id="'role-selectDefault' + uniq" v-model="roleInfo.DefaultValue">
																<option v-for="value in sync_togglesValues" :value="value">{{value.Name}}</option>
															</select>
														</div>
													</td>
													<td v-if="roleWithDetail"><div class="d-flex justify-content-center"><input type="checkbox" class="form-check-input" v-model="roleInfo.Required" :id="'rule_require_checkbox_' + uniq + index"></div></td>
													<td>
														<button type="button" class="close" aria-label="Close" @click="removeRoleByIndex(index)">
															<span aria-hidden="true">&times;</span>
														</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>