<template id="rule-controll">
	<div>
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-value-tab" data-toggle="tab" href="#nav-value" role="tab" aria-controls="nav-home" aria-selected="true">Значения</a>
				<a class="nav-item nav-link" id="nav-role-tab" data-toggle="tab" href="#nav-role" role="tab" aria-controls="nav-profile" aria-selected="false">Роли</a>
			</div>
		</nav>
		<div class="tab-content" id="nav-tabContent">
			<div class="tab-pane fade show active" id="nav-value" role="tabpanel" aria-labelledby="nav-value-tab">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="form-check" v-for="(char, index) in point.Values">
								<input type="checkbox" class="form-check-input" v-model="togglesValues" :id="'rule_value_checkbox_' + index" :value="char">
								<label class="form-check-label" :for="'rule_value_checkbox_' + index">{{char.Name}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="nav-role" role="tabpanel" aria-labelledby="nav-role-tab">
				test role
			</div>
		</div>
	</div>
</template>